ion-button {
  --background: #2F4D53;
  --background-hover: #2c494f;
  --background-activated: #284146;
  --background-focused: #395c63;

  --border-color: #1E424A;
  --border-style: solid;
  --border-width: 1px;
}

ion-chip {
  color: #F6F8F9;
  margin: 0;
}