<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Spells</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="max-w-[834px] mx-auto">
        <ion-header collapse="condense">
            <ion-toolbar>
                <ion-title size="large">Spells</ion-title>
            </ion-toolbar>
        </ion-header>
        <div class="m-4 tablet:m-8">
            <ion-searchbar
                    [(ngModel)]="searchInput"
                    [debounce]="300"
                    class="py-0 custom-searchbar mb-8"
                    mode="ios"
                    placeholder="Search">
            </ion-searchbar>

            <div class="space-y-4">
                <ng-container>
                    @for (spell of filteredSpells(); track $index) {
                        @defer (on viewport) {
                            <app-spell-card [spell]="spell"></app-spell-card>
                        } @placeholder {
                            <ion-item>
                                <ion-spinner slot="start" color="primary" name="dots"></ion-spinner>
                                <ion-label color="primary">Loading...</ion-label>
                            </ion-item>
                        }
                    }
                </ng-container>
            </div>

        </div>
    </div>

</ion-content>
